
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
}


.about {
    background-color: #fff;       
    padding: 60px 20px;          
    text-align: center;
}

.about-container {
    max-width: 1200px;             
    margin: 0 auto;
    margin-top: -20px;
   
}


.about-title {
    font-size: 40px;
    font-weight: 700;
    color: #222;
    margin-bottom: 25px;
    line-height: 1.2;
}


.about-text {
    font-size: 18px;
    color: #555;
    line-height: 1.7;
    text-align: center;          
    max-width: 800px;
    margin: 0 auto;
}

.about-text:hover {
    color: #333;
    transition: color 0.3s ease;
}

