
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
}


.header{
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    height: 80vh;              
    background-color: #fff;
    padding: 0 20px;
    position: relative;
}


.header-container{
    max-width: 1200px;
    margin: 0 auto;
}

.header-title{
    font-size: 70px;
    font-weight: 700;
    color: #03123ade;
    margin-bottom: 20px;
    line-height: 1.1;
}


.header-text{
    font-size: 19px;
    color: #555;
    margin-bottom: 40px;
    font-weight: 500;
    max-width: 700px;
    margin-left: auto;
    margin-right: auto;
    line-height: 1.6;
}


.header-btn{
    padding: 14px 40px;
    font-size: 16px;
    border: none;
    border-radius: 30px;
    background-color: #007bff;
    color: white;
    cursor: pointer;
    transition: all 0.3s ease;
}

.header-btn:hover{
    background-color: #0056b3;
    transform: translateY(-3px);
}
