* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}


.container {
    width: 1200px;
    margin: 0 auto;
}

header {
    background-color: #FFAB00A3;
    width: 100%;
}

.header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem 0;
}
.photo-mini{
    display: none;
}

header h2 {
    font-size: 24px;
}

.nav-links a {
    text-decoration: none;
    color: black;

}

.nav-links {
    display: flex;
    gap: 40px;
    font-size: 1.2rem;


}

.nav-icon {
    display: flex;
    gap: 1rem;
    align-items: center;
}


.menu-btn {
    display: none;
}

/* gulen qaqaw teref */

#banner {
    background: url(../image/gulen-qaqaw.png);
    background-size: cover;
    background-position: cover;
    background-repeat: no-repeat;
}

.banner {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: flex-end;
    display: block;
  
}

.right {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;

}

.right h1 {
    font-weight: 900;
    font-size: 90px;
    line-height: 90px;
    letter-spacing: -5px;
}

.right .blue {
    color: rgba(55, 125, 255, 1);
}

.right p {
    font-size: 20px;
    padding-right: 120px;
}

.shop-but {
    background-color: rgba(20, 23, 24, 1);
    width: 200px;
    height: 50px;
    margin-top: 18px;
    padding-right: 56px;
    padding-left: 50px;
    border-radius: 20px;
    margin-right: 210px;
    color: #ffffff;
    font-size: 20px;
    font-family: serif;
    cursor: pointer;
}
.shop-but:hover{
    background: #000;
    transform: translateY(-2px);
}

.ipsum {
    display: flex;
    justify-content: space-between;
    padding: 30px 0 30px 0;
    margin: 10px;

}

.song-pods {
    display: flex;
    margin-left: 22px;
    font-size: 40px;
    margin-bottom: 50px;
    margin-top: 20px;
}



/* .img-1{
  position: relative;
 
} */



.products {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 25px;
}

.product-my-card {
    padding: 20px;
    border-radius: 12px;
    text-align: left;
    position: relative;
}

.product-my-card img {
    width: 100%;
}



.new {
    background: rgb(255, 255, 255);
    color: rgb(0, 0, 0);
    padding: 3px 10px;
    border-radius: 20px;
    font-size: 12px;
    position: absolute;
    top: 25px;
    left: 25px;
}

.but {
    border: none;
}


.img-wrap {
    position: relative;
    display: inline-block;
}

.but {
    position: absolute;
    bottom: 10px;
    left: 50%;
    transform: translateX(-50%);
    background: black;
    color: white;
    padding: 10px 20px;
    border-radius: 20px;
    border: none;
    cursor: pointer;
    opacity: 0;
    transition: 0.3s;
    width: 200px;

}

.img-wrap:hover .but {
    opacity: 1;
}

.but::after {
    content: "Add to cart";
    font-size: 18px;
}

.stars {
    margin: 5px 0;
    color: #000000;
    font-size: 22px;
}

.num {
    color: #000000;
    font-weight: bold;
    line-height: 45px;
}


.my-shop-section {
    padding: 40px 60px;
}

.title-1 {
    font-size: 40px;
    margin-bottom: 60px;
    padding-left: 20px;
    margin-top: 50px;
}

.collection-grid {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr;
    grid-template-rows: auto auto;
    gap: 25px;
}

.box {
    background: #f6f6f6;
    border-radius: 14px;
    padding: 30px;
    position: relative;
    height: 319px;
    overflow: hidden;
    width:622px;
   
}

.box-large {
    grid-row: span 2;
    height: 666px;
    width: 548px;
}

.box-content1 {
    position: absolute;
    top: 85%;


}

.box-content1 h3 {
    font-size: 30px;
    margin: 0 0 6px;

}

.box-content1 a {
    text-decoration: none;
    color: #111;
    font-weight: 500;
    font-size: 20px;
}

.box-content {
    position: absolute;
    top: 80%;
}

.box-content h3 {
    font-size: 22px;
    margin: 0 0 5px;

}

.box-content a {
    text-decoration: none;
    color: #111;
    font-weight: 500;
}

.box-img {
    height: 100%;
   
    position: absolute;

}

.box-image-small {
    width: 100%;
    position: absolute;
    right: 10px;

}
/* qutunun birine displey flex verdimki colum ile alta salib sora gap verm
 */
.right-bx{
 
    display: flex;
    flex-direction: column;
    gap: 25px;
}


#text h2{
    font-size: 40px;
  margin-top: 50px;
  margin-bottom: 50px;
}



.products-grid {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    gap: 20px;
}

.product-card {
    background: white;
    overflow: hidden;
    box-shadow: 0 2px 8px rgba(0, 0, 0, 0.05);
    position: relative;
    transition: transform 0.2s ease, box-shadow 0.2s ease;
}



.hot-badge {
    position: absolute;
    top: 10px;
    left: 10px;
    background: #ffffff;
    color: rgb(0, 0, 0);
    font-size: 18px;
    font-weight: bold;
    padding: 4px 8px;
    border-radius: 4px;
}

.product-card img {
    width: 100%;
    height: 360px;
    object-fit: contain;
    background: #f5f5f5;
    padding: 15px;
}

.product-info {
    padding: 15px;
}

.stars {
    color: #000000;
    font-size: 14px;
    margin-bottom: 5px;
}

.product-info h3 {
    font-size: 20px;
    font-weight: 600;
    color: #333;
    margin-bottom: 8px;
    line-height: 1;
}

.price {
    font-size: 16px;
    font-weight: bold;
    color: #000000;
}

.promotion-ban {
    display: flex;
    max-width: 100%;
    background: white;
    border: 2px solid #ffffff;
    border-radius: 12px;
    overflow: hidden;
    box-shadow: 0 4px 20px rgba(0, 0, 0, 0.1);
    margin: 0 auto;
    margin-top: 8%;
    

}

.image-section {
    flex: 1;
    overflow: hidden;
}

.image-section img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    display: block;
}

.content-section {
    flex: 1;
    background: #ffe090;
    padding: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    gap: 15px;
}
.content-section .text-box {
    margin-left: 50px;
}



.tag1{
    text-decoration: none;
 color: #007bff;
 margin-top: 50px;
}
.content-section h1 {
    font-size: 3rem;
  
    color: #333;
    line-height: 3.5rem;
}

.content-section p {
    font-size: 1rem;
    color: #555;
    margin-bottom: 30px;
}

.countdown {
    margin-bottom: 20px;
}

.countdown .label {
    display: block;
    font-size: 25px;
    color: #666;
    margin-bottom: 10px;
 
}

.timer {
    display: flex;
    gap: 15px;
    justify-content:start;

}

.time-bx {
    background: white;
    border-radius: 6px;
    padding: 12px 15px;
    text-align: center;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.05);
    min-width: 60px;
}

.time-bx .number {
    font-size: 24px;
    font-weight: bold;
    color: #333;
    display: block;
}

.time-bx .unit {
    font-size: 12px;
    color: #888;
    margin-top: 4px;
    display: block;
    text-transform: lowercase;
}

.shop-now {
    background: #222;
    color: white;
    border: none;
    padding: 12px 24px;
    border-radius: 6px;
    font-size: 16px;
    font-weight: 600;
    cursor: pointer;
    transition: background 0.2s ease, transform 0.2s ease;
    align-self: flex-start;
}

.shop-now:hover {
    background: #000;
    transform: translateY(-2px);
}

.services {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 20px;
    padding: 40px 20px;
    background: white;

}

.ser-box {
    text-align: center;
    padding: 20px;
    background: #f5f5f5;
    border-radius: 8px;

}

.ser-box:hover {
    transform: translateY(-5px);
    background: #fff;
    box-shadow: 0 4px 12px rgba(0,0,0,0.05);
}

.ser-box .icon {
    font-size: 1.5rem;
    margin-bottom: 10px;
    color: #333;
}

.ser-box h3 {
    font-size: 1.3rem;
    margin-bottom: 7px;
    color: #333;
}

.ser-box p {
    font-size: 1rem;
    color: #777;
}

.insta-feed {
    padding: 40px 20px;
    background: white;
    text-align: center;
}

.feed-header .label {
    display: block;
    color: #666;
    font-size: 0.85rem;
    text-transform: uppercase;
    letter-spacing: 1px;
    margin-bottom: 10px;
}

.feed-header h2 {
    font-size: 3rem;
    color: #333;
    margin-bottom: 10px;
}

.feed-header p {
    color: #555;
    margin-bottom: 10px;
    font-size: 1rem;
}

.insta-feed .handle{
 font-size: 22px;
}


.feed-images {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));

    margin-top: 20px;
}

.feed-images img {
    width: 100%;
    height: 250px;
    object-fit: contain;
    border-radius: 8px;
    transition: transform 0.5s ease;
}

.feed-images img:hover {
    transform: scale(1.1);
}

.newsletter {
    display: flex;
    align-items: center;
    gap: 40px;
    padding: 19px 90px;
    background: url("../image/gulen\ qiz.png");
    background-size:cover;
    background-position: left bottom;
    width: 100%;
    background-repeat: no-repeat;
    background-position: left center;
    flex-wrap: wrap;
}

.newsletter-content {
    flex: 1;
    width: 93%;
    text-align: center;
    margin-top: 70px;
}

.newsletter-content h2 {
    font-size: 2rem;
    color: #333;
    margin-bottom: 10px;
}

.newsletter-content p {
    color: #555;
    margin-bottom: 20px;
    font-size: 0.95rem;
}

.newsletter-form {
    display: flex;
    gap: 10px;
    justify-content: center;
    max-width: 400px;
    margin: 0 auto;
    .fa-envelope{
        position: absolute;
        margin-right: 370px;
        margin-top: 12px;
    }
}

.newsletter-form input {
    position: relative;
    flex: 1;
 padding-left: 30px;
   border: none;
    border-radius: 6px;
    font-size: 1rem;
    outline: none;
    background: rgba(226, 228, 227, 1);

}
.line{
    max-width: 400px;
    margin: auto;
}


.newsletter-form button {
    padding: 12px 20px;
   background: rgba(226, 228, 227, 1);
    
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 6px;
    font-size: 1rem;
    cursor: pointer;
    transition: background 0.2s ease;
}

.newsletter-form button:hover {
    background: rgba(226, 228, 227, 1);

}
/* bos clasdi enine gore  */
.newsletter-image {
    flex: 1;
    width: 300px;
    padding-bottom: 74px;

}

.newsletter-image img {
    width: 100%;
    max-width: 300px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 12px rgba(0,0,0,0.1);
    margin-top: -80px;
}

 


.right-side{
    display: flex;
    flex-direction: column;
    gap: 30px;
}
.site-footer {
    background: #111;
    color: white;
    padding: 40px 100px 20px;
    font-size: 0.9rem;
}

.footer-top {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 30px;
    margin-bottom: 30px;
    border-bottom: 1px solid #333;
    padding-bottom: 30px;
}

.footer-logo strong {
    font-size: 1.5rem;
    color: white;
}

.footer-logo span {
    color: #aaa;
    font-size: 0.9rem;
    margin-left: 10px;
}

.footer-nav a {
    color: #ccc;
    text-decoration: none;
    margin: 0 20px;
    transition: color 0.2s ease;
}

.footer-nav a:hover {
    color: white;
}

.footer-bottom {
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
    gap: 20px;
   
}

.copy {
    color: #aaa;
}

.copy a {
    color: #ccc;
    margin: 0 10px;
    text-decoration: none;
}

.social-icons {
    display: flex;
    gap: 15px;
    i{
        cursor: pointer;
    }

}

.social-icons a {
    color: #ccc;
    transition: color 0.2s ease;
}

.social-icons a:hover {
    color: white;
}


@media (max-width: 767px) {
  .container {
    width: 100%;
    max-width: 767px;
    padding: 0px;
    margin: 0 auto;
  }

  header {
    background-color: #FFAB00A3;
  }

  
  .header {
    
    padding: 12px 0;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    gap: 10px;
  }

  .menu-btn {
    display: block;
    font-size: 1.8rem;
    cursor: pointer;
  }

  header h2 {
    font-size: 22px;
    margin: 0;
    order: 1;
  }

  .nav-links {
    display: none;
    width: 100%;
    flex-direction: column;
    gap: 10px;
    margin-top: 10px;
    text-align: center;
  }

  .nav-links a {
    font-size: 16px;
  }

  .nav-icon {
    display: flex;
    gap: 0.8rem;
    align-items: center;
  }

  .nav-icon img {
    width: 20px;
    height: 20px;
    object-fit: contain;
  }

  
  .nav-icon > a:nth-child(1),
  .nav-icon > a:nth-child(2) {
    display: none;
  }

  /* BANNER — ŞƏKİL YUXARIDA, MƏTN ALTINDA */
  #banner {
    background: transparent;
min-height: 100vh;
 margin-top: -20px;
    position: relative;
  }

  .banner {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 20px;
 
  }

  .right {
   line-height: 90px;
   background: linear-gradient(0deg, #FEC75A, #FEC75A),
linear-gradient(180.02deg, #FFC95C 17.32%, rgba(255, 201, 92, 0) 29.19%);

    padding: 100px;

 top: 50px;
    max-width: 100%;
  }

  .right h1 {
    font-size: 60px;
    line-height: 1.2;
    letter-spacing: -1px;
    font-weight: 900;
    color: #222;
  }

  .right .blue {
    display: inline;
    color: rgba(55, 125, 255, 1);
  }

  .right p {
    font-size: 20PX;
  padding-left: 120PX;

 
  }

  .shop-but {
    width:250PX;
    height: 60px;
    padding: 0 24px;
    font-size: 20px;
    border-radius: 12px;
    margin: 0px 50px;
  }

  .banner{
    display: block;

    background: url('../image/qaqaw\ telefon\ balaca.png')  ;
    background-size: cover;
   
    
  }

  .ipsum {
    flex-wrap: wrap;
    justify-content: center;
    gap: 8px;
    padding: 20px 0;
  }

  .ipsum img {
    width: 200px;
    height: auto;
  }

  .song-pods {
    justify-content: center;
    font-size: 38px;
    margin: 20px 0 30px;
    text-align: center;
  }

  .products {
    grid-template-columns: repeat(2, 1fr);
    gap: 16px;
  }

  @media (max-width: 767px) {
    .products {
      grid-template: 2fr;
    }
  }

  .product-my-card {
    padding: 16px;
    text-align: center;
  }

  .product-my-card h4 {
    font-size: 28px;
    line-height: 1.3;
  }

  .price, .num {
    font-size: 25px;
  }

  .but {
    font-size: 14px;
    padding: 6px 12px;
    width: 140px;
  }

  .title-1 {
    font-size: 38px;
    text-align: center;
    margin: 30px 0 25px;
    padding-left: 0;
  }

  .collection-grid {
    grid-template-columns: 1fr;
    gap: 20px;
  }

  .box-large,
  .box {
    height: auto;
    width: 100%;
    padding: 20px;
  }

  .box-img,
  .image-small {
    width: 90%;
    height: auto;
    object-fit: contain;
    position: static;
  }

  .box-content1,
  .box-content {
    position: static;
    text-align: center;
    margin-top: 16px;
    font-size: 20px;
    h3{
        font-size: 50px;
    }
  }

  .right-bx {
    flex-direction: column;
    gap: 20px;
  }

  #text h2 {
    font-size: 28px;
    margin: 30px 0;
    text-align: center;
  }

  .products-grid {
    grid-template: 2fr;
  }

  .product-card img {
    height: 250px;
  }
.stars{
    font-size: 30px;
}
  .product-info h3 {
    font-size: 25px;
  }

  .promotion-ban {
    flex-direction: column;
    margin-top: 40px;
  }

  .image-section,
  .content-section {
    width: 100%;
    flex: none;
  }

  .content-section {
    padding: 24px;
    text-align: center;
  }

  .content-section .text-box {
    margin-left: 0;
  }

  .content-section h1 {
    font-size: 28px;
    line-height: 1.3;
  }

  .timer {
    flex-wrap: wrap;
    justify-content: center;
    gap: 10px;
  }

  .time-bx {
    min-width: 50px;
    padding: 8px;
  }

  .time-bx .number {
    font-size: 52px;
  }

  .services {
    grid-template: 2fr;
    gap: 16px;
  }

  .insta-feed .handle {
    font-size: 18px;
  }

  .feed-images {
    grid-template-columns: 1fr;
    gap: 12px;
  }

  .feed-images img {
    height: fit-content;
    border-radius: 8px;
  }
/* 
  .newsletter {
    flex-direction: column;
    padding: 40px 16px;
    text-align: center;
  }

  .newsletter-content,
  .newsletter-image {
    width: 100%
  }

  .newsletter-form {
    flex-direction: column;
    gap: 10px;
  }

  .newsletter-form input {
    height: 44px;
    padding-left: 12px;
  }

  .newsletter-form .fa-envelope {
    position: static;
    margin-left: 12px;
  }

  .newsletter-form button {
    height: 44px;
  }
 */
  .newsletter {
  background: #F2F4F6;

    padding: 40px 20px;
    text-align: center;
    margin-top: 40px;
  }

  .newsletter-content h2 {
    font-size: 54px;
    color: #333;
    margin-bottom: 8px;
  padding-left: 60px;
  }

  .newsletter-content p {
    color: #555;
    font-size: 16px;
    margin-bottom: 20px;
    padding-left: 60px;
  }

  .newsletter-form {
    display: flex;
   
   
    max-width: 360px;
    margin: 0 auto;
  }

  .newsletter-form input {
    width: 100%;
    padding: 12px 16px;
  
    border-radius: 6px;
    font-size: 14px;
    outline: none;
   background: #F2F4F6;
  }

  .newsletter-form button {

 border-bottom: 1px solid #6C727580;
  
    border: none;
    border-radius: 6px;
    font-size: 14px;
    cursor: pointer;
    transition: background 0.2s ease;
  }

  .newsletter-form button:hover {
    background: #fcfcfc;
  }

  .footer-top {
    flex-direction: column;

width:100%;
    text-align: center;
  }

  .footer-nav {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
  }
  .footer-logo span {
    display: none;
  }
  .footer-logo strong {
    border-bottom: 1px solid #333;
    padding-bottom: 15px;
    font-size: 50px;
  }
  .footer-nav a {
    margin: 8px;
    font-size: 22px;  }

  .footer-bottom {
    flex-direction: column;
    text-align: center;
    font-size: 20px;
  }

  .social-icons {
    justify-content: center;
 
  }
}