*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}


.container{
  background-color: #f3f4f6;
  width: 100%;
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

}
.card{
  background: linear-gradient(135deg, #3b82f6, #2563eb);
  width: 400px;
  height: 220px;
  border-radius: 15px;
  padding: 25px;
  margin-bottom: 50px;
  color: white;
  box-shadow: 0px 4px 20px rgba(0,0,0,0.25);
}

.card-top{
  display:flex ;
  justify-content: space-between;
  align-items: flex-start;
}

.chip-img{
  width: 110px;
  height: 65px;
  margin-top: 30px;
  margin-left: -25px;

}
.master-img{
  width: 110px;
  margin-top: -20px;

}
.cr-num{
  font-size: 22px;
  letter-spacing: 3px;
  margin-bottom: 30px;

}
.cr-bottom{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.cr-name{
  font-size: 14px;
  text-transform: uppercase;
  letter-spacing: 1px;
}
.cr-date{
  font-size: 14px;

}
.child{
  display: flex;
}
.child input{
  padding: 10px 15px;
  width: 200px;
  border: 1px solid #ccc;
  font-size: 16px;
  outline: none;
  transition: 0.3;

}
.child input:focus{
border-color: #3b82f6;
  box-shadow: 0 0 5px rgba(59, 130, 246, 0.4);
}
.box{
  display: flex;
  margin-top: 10px;
}
.box input{
  padding: 10px 15px;
  width: 100px;
  border: 1px solid #ccc;
  font-size: 16px;
  outline: none;
  transition: 0.3;

}
.box input:focus{
  border-color: #3b82f6;
  box-shadow: 0 0 5px rgba(59, 130, 246, 0.4);
}
.btn{
  width: 200px;
  background-color: #3b82f6;
  border: 1px solid #3b82f6;
 color: white;
 cursor: pointer;
 padding: 10px;
 transition: 0.3;
}
.btn:hover{
background-color: #2563eb;
}