
.details-wrapper {
  max-width: 1200px;
  margin: 40px auto;
  padding: 0 20px;
}


.back-btn {
  padding: 10px 20px;
  margin-bottom: 40px;
  cursor: pointer;
}


h1 {
  padding-left: 70px;
  font-size: 40px;
}


.details-content {
  display: flex;
  gap: 80px;
  align-items: flex-start;
  flex-wrap: wrap;
}


.details-flag {
  position: relative;
}

.details-flag img {
  width: 420px;
  max-width: 100%;
  border-radius: 6px;
}


.flag-theme-btn {
  position: absolute;
  top: 15px;
  left: 15px;
  background: #ffffff;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 6px;
}

body.dark .flag-theme-btn {
  background: #2b3945;
}


.details-info {
  flex: 1;
}

.details-info h2 {
  margin-bottom: 25px;
}


.info-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px 40px;
  margin-bottom: 40px;
}

.borders {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.border-item {
  padding: 6px 14px;
  background: #ffffff;
  cursor: pointer;
  border-radius: 4px;
}

body.dark .border-item {
  background: #2b3945;
}



.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #ffffff;
  padding: 12px;
  text-align: center;
  font-size: 14px;
  z-index: 100;
}


body.dark .footer {
  background: #2b3945;
}

.footer a {
  color: #0077cc;
  text-decoration: none;
  font-weight: 600;
}

.footer a:hover {
  text-decoration: underline;
}

body.dark .footer a {
  color: #4fc3f7;
}
