
.details-wrapper {
  max-width: 1200px;
  margin: 40px auto;
  padding: 0 20px;
}


.back-btn {
  padding: 10px 20px;
  margin-bottom: 40px;
  cursor: pointer;
}


h1 {
  padding-left: 70px;
  font-size: 40px;
}


.details-content {
  display: flex;
  gap: 80px;
  align-items: flex-start;
  flex-wrap: wrap;
}


.details-flag {
  position: relative;
}

.details-flag img {
  width: 420px;
  max-width: 100%;
  border-radius: 6px;
}


.flag-theme-btn {
  position: absolute;
  top: 15px;
  left: 15px;
  background: #ffffff;
  border: none;
  padding: 8px 12px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 6px;
}

body.dark .flag-theme-btn {
  background: #2b3945;
}


.details-info {
  flex: 1;
}

.details-info h2 {
  margin-bottom: 25px;
}


.info-grid {
  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 15px 40px;
  margin-bottom: 40px;
}

.borders {
  display: flex;
  flex-wrap: wrap;
  gap: 10px;
}

.border-item {
  padding: 6px 14px;
  background: #ffffff;
  cursor: pointer;
  border-radius: 4px;
}

body.dark .border-item {
  background: #2b3945;
}



.footer {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100%;
  background: #ffffff;
  padding: 12px;
  text-align: center;
  font-size: 14px;
  z-index: 100;
}


body.dark .footer {
  background: #2b3945;
}

.footer a {
  color: #0077cc;
  text-decoration: none;
  font-weight: 600;
}

.footer a:hover {
  text-decoration: underline;
}

body.dark .footer a {
  color: #4fc3f7;
}


/* Modal */
.modal {
  position: fixed;
  inset: 0;
  display: none;
  align-items: center;
  justify-content: center;
  background: rgba(0,0,0,0.6);
  z-index: 2000;
  padding: 10px;
}

.modal-content {
  background: #ffffff;
  padding: 25px;
  border-radius: 10px;
  max-width: 400px;
  width: 90%;
  text-align: center;
  box-shadow: 0 12px 35px rgba(0,0,0,0.25);
  transform: translateY(-20px);
  opacity: 0;
  animation: modalShow 0.3s forwards;
}

@keyframes modalShow {
  to {
    transform: translateY(0);
    opacity: 1;
  }
}

.modal-content h3 {
  margin-bottom: 15px;
 color: #333; 
}

.modal-content p {
  font-size: 18px;
  margin-bottom: 12px;
  color: #333;
}

.modal-content a {
  color: #d32f2f; /* link qırmızı */
  font-weight: 600;
  text-decoration: none;
}

.modal-content a:hover {
  text-decoration: underline;
}

.modal-content button {
  padding: 10px 20px;
  border: none;
  cursor: pointer;
  background: #0077cc;
  color: #fff;
  border-radius: 6px;
  font-size: 14px;
  margin-top: 10px;
}

.modal-content button:hover {
  background: #005fa3;
}

/* DARK MODE */
body.dark .modal-content {
  background: #e5eff7;
  
}

body.dark .modal-content a {
  color: #ff0000;
}

body.dark .modal-content button {
  background: #4fc3f7;
  color: #000000;
}

body.dark .modal-content button:hover {
  background: #1aa1f1;
}


.border-item {
  display: inline-block;
  padding: 6px 14px;
  margin: 5px 5px 5px 0;
  background: #f44336; /* qırmızı */
  color: #fff;
  border-radius: 6px;
  cursor: pointer;
  transition: transform 0.2s, box-shadow 0.2s;
}

.border-item:hover {
  transform: translateY(-2px);
  box-shadow: 0 4px 12px rgba(0,0,0,0.2);
}

body.dark .border-item {
  background: #d32f2f;
}
