
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}



body {
  background: #fafafa;
  color: #111;
}

body.dark {
  background: #202c37;
  color: #ffffff;
}

.header {
  background: #ffffff;
  padding: 20px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

body.dark .header {
  background: #2b3945;
}


h1 {
  padding-left: 70px;
  font-size: 40px;
}

.theme-btn {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 20px;
  color: inherit;
}


.container {
  max-width: 1200px;
  margin: 30px auto;
}


.controls {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  gap: 20px;
  margin-bottom: 30px;
}

.search-box input,
select {
  padding: 12px;
  width: 250px;
  font-size: 18px;
}


.countries-grid {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
  gap: 25px;
}


.country-card {
  background: #ffffff;
  border-radius: 8px;
  overflow: hidden;
  cursor: pointer;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
}

body.dark .country-card {
  background: #2b3945;
}


.country-card:hover {
  transform: translateY(-8px);
  box-shadow: 0 15px 35px rgba(0, 0, 0, 0.15);
}


.country-card img {
  width: 100%;
  height: 180px;
  object-fit: fill;
  transition: transform 0.4s ease;
}


.country-info {
  padding: 15px;
}



.footer {
  margin-top: auto;
  background: #ffffff;
  padding: 15px;
  text-align: center;
  font-size: 14px;
}

.footer a {
  color: #0077cc;
  text-decoration: none;
  font-weight: 600;
}

.footer a:hover {
  text-decoration: underline;
}


body.dark .footer {
  background: #2b3945;
}

body.dark .footer a {
  color: #4fc3f7;
}


.modal {
  position: fixed;
  inset: 0;
  background: rgba(0, 0, 0, 0.6);
  display: none;
  align-items: center;
  justify-content: center;
  z-index: 2000;
}

.modal-box {
  background: #ffffff;
  padding: 25px;
  border-radius: 10px;
  max-width: 380px;
  width: 90%;
  text-align: center;
}

.modal-box h3 {
  margin-bottom: 10px;
}

.modal-box p {
  font-size: 18px;
  margin-bottom: 15px;
  color: rgb(7, 1, 1);
}

.modal-link {
  display: inline-block;
  margin-bottom: 20px;
  color: #cc0000;
  font-weight: 600;
  text-decoration: none;
}

.modal-link:hover {
  text-decoration: underline;
}

.modal-box button {
  padding: 8px 20px;
  border: none;
  cursor: pointer;
  background: #0077cc;
  color: #fff;
  border-radius: 4px;
}


body.dark .modal-box {
 background: #e5eff7;
  color: #ff0000;
  font-size: 20px;
}







@media (max-width: 992px) {
  h1 {
    padding-left: 20px;
    font-size: 28px;
  }
   select {
    padding: 10px;
    font-size: 16px;
    width: 200px;
  }

  .controls {
    flex-direction: column;
    align-items: stretch;
  }

  .search-box input,
  select {
    width: 100%;
  }

  .container {
    padding: 0 20px;
  }
}


@media (max-width: 576px) {
  .header {
    flex-direction: column;
    gap: 10px;
    text-align: center;
  }
  select {
    padding: 8px 10px;
    font-size: 14px;
    width: 180px;
  }

  h1 {
    padding-left: 0;
    font-size: 22px;
  }

  .theme-btn {
    font-size: 16px;
  }

  .countries-grid {
    grid-template-columns: 1fr;
  }

  .country-card img {
    height: 160px;
  }

  .modal-box {
    width: 95%;
    padding: 20px;
  }
}


@media (min-width: 1400px) {
  .countries-grid {
    grid-template-columns: repeat(4, 1fr);
  }
}