*{
    margin: 0;
    padding: 0;
    box-sizing: 0;
 }




 body {
  background-color: #f5e1bb;
  font-family: Arial, Helvetica, sans-serif;
  color: #a01010;
  margin: 0;
  padding: 0;
}

.container {
  width: 60%;
  margin: 40px auto;
  text-align: center;
}

.logo-section {
  text-align: center;
  margin-bottom: 10px;
}

.logo {
  width: 200px;
  height: 200px;
  border-radius: 50%;
}

.title {
  font-size: 28px;
  font-weight: bold;
  letter-spacing: 2px;
  color: #000;
  margin-top: 5px;
}

.line {
  width: 100%;
  margin: 20px auto;
  border: 1px solid #7ec5f8;
}

.section {
  text-align: left;
  margin-top: 25px;
}

.heading {
  font-size: 18px;
  font-weight: bold;
  margin-bottom: 5px;

}

.orange {
  color: #d35400;
} 

.text {
  font-size: 15px;
  line-height: 1.5;
  color: #333;
}