* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Arial, sans-serif;
}


body {
  background-color: #f4f4f4;
}


header {
  background-color: #2c3e50;
  color: white;
  padding: 20px;
  text-align: center;
}

header p {
  margin-top: 8px;
  font-size: 14px;
}

.product-card {
  background-color: white;
  padding: 15px;
  margin: 15px auto;
  width: 300px;
  border-radius: 8px;
  box-shadow: 0 0 8px rgba(0, 0, 0, 0.1);
  cursor: pointer;
}

.product-card h2 {
  margin-bottom: 10px;
  color: #333;
}

.product-card p {
  margin-bottom: 5px;
  font-size: 14px;
}

footer {
  background-color: #2c3e50;
  color: white;
  text-align: center;
  padding: 15px;
  margin-top: 30px;
}


.product-list {
  display: flex;
  justify-content: center;
  gap: 20px;
  flex-wrap: wrap;
}
