/* 
bunu mene izah edersiz fiqmada olan reqemlerdi menlik deyil
.lupa {
    position: absolute;
    padding: 2px 4px;
    margin: 6px 0;
    width: 30px; 
    transition: 1.3s;
    width: 20.273677825927734;
    height: 20.274616241455078;
    left: 8px;
} */

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


html {
    font-size: 16px;
}

body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI", sans-serif;
    color: #111;

}

.container {
    max-width: 1200px;
    margin: 0 auto;
    padding: 0 1.5rem;
}


.navbar {
    background: #ffffff;
}

.nav-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 1rem 0;
    gap: 1.5rem;
}

.logo {
    font-weight: 800;
    letter-spacing: 0.05em;
    text-decoration: none;
    color: #111;
    font-size: 1.4rem;
}


.nav-links {
    display: flex;
    gap: 3rem;
    font-size: 1rem
}

.nav-links a {
    text-decoration: none;
    color: #555;
}

.nav-links a:hover {
    color: #111;
}

.nav-right {
    display: flex;
    align-items: center;
    gap: 0.75rem;
}


.search-box {
    display: flex;

    gap: 1rem;
    background: #f3f3f3;
    padding: 0.5rem 1rem;
    border-radius: 50px;

}

.search-box input {
    border: none;
    background: transparent;
    outline: none;
    font-size: 0.85rem;

}

.input {
    width: 270px;
}

.search-box .input{
    width: 350px;
}
.icon-btn {
    border: none;
    background: transparent;
    cursor: pointer;
    font-size: 1rem;

}


.hero {
    background: #f2f0f1;
}

.hero-inner {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 2.5rem;
    padding: 3.5rem 0 3rem;
}


.hero-text {
    flex: 1 1 50%;
}

.hero-text h1 {
    font-size: 2.9rem;
    line-height: 1.1;
    margin-bottom: 1rem;
}

.hero-text p {
    font-size: 0.9rem;
    color: #777;
    max-width: 26rem;
    margin-bottom: 1.5rem;
}

.primary-btn {
    border: none;
    background: #111;
    color: #fff;
    padding: 0.8rem 1.8rem;
    border-radius: 999px;
    font-size: 0.9rem;
    cursor: pointer;
    margin-bottom: 2rem;
}


.stats {
    display: flex;
    flex-wrap: wrap;
    gap: 2.5rem;
}

.stat-item h3 {
    font-size: 1.3rem;
    margin-bottom: 0.25rem;
}

.stat-item span {
    font-size: 0.8rem;
    color: #555;
}

.hero-image {
    flex: 1 1 45%;
    display: flex;
    justify-content: center;
}

.hero-image img {
    width: 100%;
    max-width: 22rem;
    height: auto;
    border-radius: 1.5rem;
    object-fit: cover;
    height: 450px;
}



.brands {
    background: #000000;
    color: #fff;
}

.brands-inner {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1.2rem 0;
    font-size: 2rem;
}

.brands-inner span {
    letter-spacing: 0.12em;
}


.hero-image .star {
    width: 104px;
    height: 104px;
    top: 220px;
    left: 1255px;
}

.hero-image .sm-star {
    width: 56px;
    height: 56px;
    position: absolute;
    top: 305px;
    right: 601px;
}



.first-sec {
    width: 1240;


    padding-top: 36px;
    padding-right: 64px;
    padding-bottom: 36px;
    padding-left: 64px;
    display: flex;
    gap: 10rem;


}

.input {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    width: 500px;



}

.first-sec h2 {
    font-family: Integral CF;
    font-weight: 700;
    font-style: Bold;
    font-size: 45px;
    line-height: 50px;
    letter-spacing: 0%;
    color: white;

}

.inn-1 {
    width: 349;
    height: 46;

    opacity: 1;
    border-radius: 62px;
    padding-top: 12px;
    padding-right: 16px;
    padding-bottom: 12px;
    padding-left: 16px;
    gap: 12px;
    font-size: 15px;
    cursor: pointer;

}

.inn-2 {
    width: 349;
    height: 46;

    opacity: 1;
    border-radius: 62px;
    padding-top: 12px;
    padding-right: 16px;
    padding-bottom: 12px;
    padding-left: 100px;
    gap: 12px;
    font-size: 15px;
    cursor: pointer;

}

.footer {
    background: #f6f6f6;
    padding-top: 40px;
    font-family: Arial;
}


.newsletter-box {
    background: black;
    color: white;
    padding: 40px;
    margin: 0 auto 50px auto;
    width: 90%;
    border-radius: 15px;
    display: flex;

    justify-content: center;
}

.newsletter-box h2 {
    font-size: 30px;
}

.newsletter-form {
    display: flex;
    margin-left: 500px;
    gap: 7px;
    align-items: center;
    flex-direction: column;
}

.newsletter-form input {
    width: 250px;
    padding: 12px 15px;
    border-radius: 25px;
    border: none;
}

.newsletter-form button {
    padding: 12px 20px;
    border-radius: 25px;
    border: none;
    background: white;
    cursor: pointer;
    font-weight: 600;
    width: 250px;
}


.footer-content {
    display: flex;
    justify-content: space-between;
    width: 90%;
    margin: auto;
    padding-bottom: 40px;
}

.footer-left {
    width: 25%;
}

.footer-left p {
    color: #555;
    margin: 20px 5px;
}

.social i {
    margin-right: 10px;
    font-size: 18px;
}


.footer-columns {
    display: flex;
    gap: 100px;
    letter-spacing: 0px;
    font-size: 20px;

    font-family: Satoshi;
    font-weight: 400;
    font-style: Regular;
    font-size: 16px;

    line-height: 19px;
    letter-spacing: 0px;


}

.col h4 {
    margin-bottom: 15px;
}

.col a {
    display: block;
    color: #555;
    margin: 5px 0;
    text-decoration: none;
    font-size: 14px;
}

.footer-bottom {
    border-top: 1px solid #ddd;
    padding: 20px 0;
    width: 90%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.payments img {
    width: 70px;
    margin-left: 10px;

}