body {
    margin: 0;
    font-family: sans-serif;
    background-color: #2b2f31;
    
    color: #d7dbde;
}

.ilk-basliq {
    background-color: rgb(75, 61, 77 );
    text-align: left;
    padding: 70px;
    margin: 10px auto;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    background-image: url(../06.css-colors-background/assest/image/34377.png);
    max-width: 800px;
}


.ilk-basliq h1 {
    margin: 0;
    font-size: 28px;
}

.ilk-basliq p {
    margin: 0;
    font-size: 14px;
}

/* Navigasiya */
.basliq-alti {
    background-color: #444b4f;
    text-align: center;
    padding: 10px;
    margin: 10px;
   width: 910px;
position: relative;
left: 200px;
}

.basliq-alti a {
    color: #d7dbde;
    text-decoration: none;
    margin: 0 15px;
    font-size: 16px;
    text-align: left;
}

.basliq-alti a:hover {
    color: white;
}

.basliq-alti a::after {
    content: " / ";
    color: #aab2b4;
}

.basliq-alti a:last-child::after {
    content: "";
}

/* Əsas bölmə */
.sol-asaqi {
    display: flex;
    flex-wrap: wrap;
    max-width: 1000px;
    margin: 20px auto;
}

.left {
    width: 25%;
    padding: 10px;
}

.left ul {
    list-style: none;
    padding: 0;
}

.left ul li {
    margin: 5px 0;
}

.left ul li a {
    color: #aab2b4;
    text-decoration: none;
}

.left ul li a:hover {
    color: white;
}

.block {
    margin-top: 20px;
    font-size: 16px;
}


.right {
    width: 70%;
    padding: 10px;
}

.right h2 {
    font-size: 20px;
    border-bottom: 1px solid #555;
    padding-bottom: 5px;
    margin-bottom: 10px;
}

.box-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    margin-top: 20px;
}

.box, .box2 {
    flex: 1 1 45%;
    padding: 15px;
    border-radius: 4px;
    box-sizing: border-box;
}

.box{
      border-right: 1px solid;
}
.btn {
    display: inline-block;
    background-color: #a0b5b7;
    color: black;
    text-decoration: none;
    padding: 6px 10px;
    margin-top: 10px;
    font-size: 13px;
}

/* Footer */
.footer {
    text-align: center;
    padding: 50px 0;
    border-top: 2px solid #444;
    color: #999;
    font-size: 13px;
}
