 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;
line-height: 20px;
}

.container{
    max-width:1250px;
    margin-left: 50px;
    margin-top: 35PX;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;


   padding-bottom: 35px;
   
    box-shadow:
        0 2px 4px rgba(250, 206, 171, 0.425),
        0 6px 12px rgba(219, 141, 141, 0.04);
}



.navbar-link {
    font-size: 22px;

    padding-left: 120px;
    padding-top: 30px;

}

.teq{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 120px;
    padding-top: 35px;
    gap: 25px;
}

.teq a{
color: black;
font-size: 18px;
}

.wish-link a{
    position: relative;
    font-size: 18px;
    color: black;
}
.wish-link .number{
    background-color: red;
    color:white;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: 6px;
    padding: 10px;
}


.products {
display: flex;
gap: 50px;
align-items: center;

}



.card {
  background: #fff;
width: 290px;
padding: 15PX;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 50px;

}


.card img {

  height: 180px;          /* SABİT HÜNDÜRLÜK */
  object-fit: fill;   /* şəkil kəsilmir */
  margin-top: 30px;
  border-radius: 20px;
}


.card h4 {
  font-size: 16px;
  margin: 8px 0;
  height: 40px;           /* 2 sətir */
  overflow: hidden;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.destrp{
  font-size: 15px;
  color: #999;
display: flex;
align-items:center;
justify-content: flex-start;
}



.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  position: relative;

}

.remove{
  border: none;
  width: 150px;
  height: 30px;
  border-radius: 5px;
  background-color: rgba(255, 4, 121, 0.952);
  color: white;
  font-size: 13px;
 

}