 *{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
    font-family: sans-serif;

}

.container{
    max-width: 1250px;
    margin-left: 50px;
}

.navbar {
    display: flex;
    justify-content: space-between;
    align-items: center;


   padding-bottom: 35px;
   
    box-shadow:
        0 2px 4px rgba(250, 206, 171, 0.425),
        0 6px 12px rgba(219, 141, 141, 0.04);
}



.navbar-link {
    font-size: 22px;

    padding-left: 120px;
    padding-top: 30px;

}

.teq{
    display: flex;
    justify-content: center;
    align-items: center;
    padding-right: 120px;
    padding-top: 35px;
    gap: 25px;
}

.teq a{
color: black;
font-size: 18px;
}

.wish-link a{
    position: relative;
    font-size: 18px;
    color: black;
}
.wish-link .number{
    background-color: red;
    color:white;
    width: 18px;
    height: 18px;
    border-radius: 50%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    margin-left: 6px;
    padding: 10px;
}


.products {
display: flex;
gap: 50px;
align-items: center;

}

.card {
  background: #fff;
  border-radius: 12px;
  padding: 15px;
  box-shadow: 0 4px 10px rgba(0,0,0,0.1);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin-left: 50px;
  padding-top: 50px;
}


.card img {
  width: 100%;
  height: 180px;          /* SABİT HÜNDÜRLÜK */
  object-fit: contain;   /* şəkil kəsilmir */
  margin-bottom: 10px;
}


.card h4 {
  font-size: 16px;
  margin: 8px 0;
  height: 40px;           /* 2 sətir */
  overflow: hidden;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.heart {
  font-size: 22px;
  cursor: pointer;
  
}
.heart {
  font-size: 24px;
  cursor: pointer;
  color: #999;

}

.heart.active {
  color: red;
}

.card-footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-top: 10px;
  position: relative;
}
.heart {
  position: absolute;
  top: -270px;
  right: 5px;
  font-size: 18px;
  cursor: pointer;
  width: 30px;
  height: 30px;
  background-color: #eee;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.3s;
  color: #999;
  padding-left: 6px;
  padding-top: 5px;
}
.heart.active {
  background-color: rgb(214, 214, 214);
  color: rgb(255, 0, 0);
}