 * {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
}

.container {
  padding: 20px;
}

.btn {
  padding: 10px 20px;
  background-color: blue;
  border: none;
  color: white;
  cursor: pointer;
}

.sidebar {
  position: fixed;
  left: -250px;
  width: 250px;
  height: 100vh;
  background: blue;
  transition: 0.3s ease;
  padding-top: 40px;
  display: flex;
  flex-direction: column;
}

.sidebar.active {
  left: 0;
}


.sidebar a {
  color: white;
  text-decoration: none;
  padding: 15px 20px;
  font-size: 18px;
}

.sidebar a:hover {
  background: rgb(43, 43, 171);
}
.closeBtn {
  color: white;
  font-size: 30px;
  cursor: pointer;
  position: absolute;
  top: 6px;
  right: 20px;
} 
