    * {
        margin: 0;
        padding: 0;
        box-sizing: border-box;
    }

    body {
        background-color: #c2114c;
        font-family: Arial, Helvetica, sans-serif;
        display: flex;
        justify-content: center;
        align-items: center;
        height: 100vh;
    }

    .container {
        position: relative;

    }

    .my-box {
        background-color: white;
        width: 300px;
        padding: 25px;
        border-radius: 8px;
        box-shadow: 0 4px 10px rgba(231, 8, 8, 0.1);
        position: relative;
        z-index: 1;
        height: 400px; ;
        
    }

    .my-box::before {
        content: "";
        position: absolute;
        top: 10px;
        right: 10px;
        width: 100%;
        height: 100%;
        background-color: rgba(255, 255, 255, 0.3);
        border-radius: 8px;
        z-index: -2;
    }

    .box-head {
        font-size: 1.2rem;
        font-weight: bold;
        color: #222;
    }

    hr {
        border: none;
        height: 2px;
        background-color: #f57c6b;
        margin: 10px 0 15px 0;
    }

    .full-text {
        font-size: 0.9rem;
        color: #333;
        line-height: 1.5;
    }

    .button {
        display: flex;
        justify-content: center;
        margin-top: 15px;
        align-items: center;

    }

    .next {
        background-color: #f57c6b;
        color: white;
        border: none;
        padding: 8px 30px;
        border-radius: 3px;
        cursor: pointer;
        font-size: 0.9rem;
        transition: 0.3s;
        margin: auto;
        display: flex;
        justify-content: center;
        margin-top: 20px;

    }

    .next:hover {
        background-color: #321ea7;
    }