.yellow {
    background-color: yellow;
    
}
.box{
    border: 3px solid purple;
 

}
.box{
    color: red;
}
.Blue{
    background-color: blue;
}
.green{
    background-color: green;
}
.red{
    color: red;
}
#green{
    background-color: green;
}
.link{
    background-color: yellow;

}
a{
    margin-right: 10px;
}